@page "/jugadores/create"
@inject JugadoresServices jugadoresService
@inject NavigationManager navigationManager
@inject IToastService toastService


@*HTML*@
<PageTitle>Create</PageTitle>
<EditForm Model="jugador" OnValidSubmit="Guardar" FormName="CrearJugador">
        <DataAnnotationsValidator />

        <div class="container">
            <div class="card shadow-lg">
                <div class="card-body">

                    @*Nombre*@
                    <div class= "mb-3">
                        <label class="form-label"><strong>Nombre</strong></label>
                        <InputText class="form-control form-select" @bind-Value=jugador.Nombre></InputText>
                        <ValidationMessage For="@(() => jugador.Nombre)" />
                    </div>
                    @*Partidas*@
                    <div class="mb-3">
                        <label class="form-label"><strong>Partidas</strong></label>
                        <InputNumber class="form-control" @bind-Value="jugador.Partidas"></InputNumber>
                        <ValidationMessage For="@(() => jugador.Partidas)" />
                    </div>
                </div>

                @*footer*@
                <div class="card-footer text-center mt-2">
                    <a href="/jugadores" class="btn btn-secondary"> <span class="bi bi-arrow-left"></span> Volver</a>
                    <button type="submit" class="btn btn-primary bi bi-floppy"> Guardar</button>
                </div>
            </div>
        </div>
</EditForm>
@Mensaje             



@code {
    public Jugadores jugador {get; set; } = new Jugadores();
    public string Mensaje {get; set; } = string.Empty;
    public List<Jugadores> ListaNombres {get; set; } = new List<Jugadores>();

    protected override async Task OnInitializedAsync()
    {
        ListaNombres = await jugadoresService.Listar(j => j.JugadorId > 0);
    }

    public async Task Guardar()
    {
        var creado = await jugadoresService.Guardar(jugador);

        if(creado)
        {
            toastService.ShowSuccess("Jugador Guardado Correctamente");
            navigationManager.NavigateTo("/jugadores");
        }else
        {
            toastService.ShowError("Error al Guardar el Jugador");
        }
    }
}